$light-grey-background : rgba(244, 244, 244, 0.549);
$medium-grey-background: grey;
$dark-grey-background: rgb(45, 43, 43);

$white-font: rgb(236, 236, 236);
$light-grey-font: rgb(147, 140, 140);
$medium-grey-font: rgb(99, 95, 95);
$dark-grey-font: rgb(87, 83, 83);

$header-border: rgba(87, 83, 83, 0.474);

$btn-white-border: rgb(236, 236, 236, 0.4);
$btn-blue: rgb(33, 68, 114);

/* Font
   src: https://fonts.google.com/specimen/Courier+Prime?categoryFilters=Appearance:%2FMonospace%2FMonospace&preview.script=Latn

*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');


/*=====================*/
/*    START SCREEN     */
/*=====================*/

.start-screen {
  font-family: "Courier Prime", monospace;

  position: relative;
  min-height: 100vh;
  background-color: $light-grey-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  img {
    align-self: flex-end;
    position: absolute;
    z-index: 0;
    
    max-height: 100vh;
    
    /* display: block; */

    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%); /* same as above but for other browsers */
  }

  .home-info {
    background-color: transparent;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 40px;

    h1 {
      color:$dark-grey-font;
    }

    #btn-start {
      cursor: pointer;    
      color: $white-font;
      background-color: black;
      border: none;
      border-bottom: 4px solid $medium-grey-background;
      padding: 10px 20px;
      width: 180px;
      height: 60px;
      font-size: medium;
    }

    h3 {
      color: $light-grey-font;
    }


  }
  
}

/*=====================*/
/*   QUESTION SCREEN   */
/*=====================*/

.question-screen {
  color: $white-font;
  background-color: $dark-grey-background;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;


  .question-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    margin: 0;
  }

  .btn-box {    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  button {
    cursor: pointer;
    color: $white-font;
    background-color: transparent;
    border: 1px solid $btn-white-border;
    padding: 10px;
    width: 200px;
  }

}

/*=====================*/
/*   LOADING SCREEN    */
/*=====================*/

.loading-screen {
  background-color: $dark-grey-background;
  color: $light-grey-font;

  min-height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=====================*/
/*   RESULTS SCREEN    */
/*=====================*/

.results-screen {
  background-color: white;
  color: $dark-grey-font;

  display: flex;
  flex-direction: column;
  align-items: center;

  .btn-restart {
    cursor: pointer;
    color: $light-grey-font;
    background-color: transparent;
    border: none;
  }

  #similar-profiles-txt {
    color: $dark-grey-font;
    font-size: 26px;
    text-align: center;
    margin: 20px;
  }
}


/*=====================*/
/*    RESULTS CARD     */
/*=====================*/

.results-card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;


  img {
    max-width: 400px;
    margin: 20px;
  }


  .result-info {
    background-color: $light-grey-background;
    color: $light-grey-font;
    padding: 40px;
  }

  .shoe-name {
    color: $dark-grey-font;
    font-size: 36px;
    margin: 0;
  }

  .result-price-shade-box {
    display: flex;
    justify-content: flex-start;
    color: $dark-grey-font;
  }

  .result-price {
    border-right: solid $light-grey-font;
    padding-right: 30px;
  }

  .result-shade-name {
    padding-left: 30px;
  }  

  .btn-shop-now {
    color: $white-font;
    cursor: pointer;
    background-color: $btn-blue;
    border-bottom: 4px solid black;

    margin-top: 20px;
    padding: 20px;
    width: 200px;

  }


}

/*=====================*/
/*   HEADER COMPONENT  */
/*=====================*/

header {
  background-color: white;
  border-bottom: solid $header-border;
  max-height: 60px;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  .menu {
    justify-self: start;
    padding-left: 30px;
  }

  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    justify-content: center;
  }


  img {
    max-height: 40px;
    margin: 6px;
  }
}



