$light-grey-background : #F7F7F7;
$medium-grey-background: grey;
$dark-grey-background: #333333;

$white-font: #F6F6F6;
$light-grey-font: #B7B7B7;
$medium-grey-font: #696969;
$dark-grey-font: #343434;

$header-border: #EAEAEA;

$btn-blue: #3C6473;

/* Font
   src: https://fonts.google.com/specimen/Courier+Prime?categoryFilters=Appearance:%2FMonospace%2FMonospace&preview.script=Latn

*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');


/*=====================*/
/*    START SCREEN     */
/*=====================*/

.start-screen {
  font-family: "Courier Prime", monospace;

  position: relative;
  min-height: 100vh;
  background-color: $light-grey-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  img {
    align-self: flex-end;
    position: absolute;
    z-index: 0;
    
    max-height: 100vh;
    
    /* display: block; */

    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%); /* same as above but for other browsers */
  }

  .home-info {
    background-color: transparent;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 40px;

    h1 {
      color:$dark-grey-font;
    }

    #btn-start {
      cursor: pointer;    
      color: $white-font;
      background-color: black;
      border: none;
      border-bottom: 4px solid $medium-grey-background;
      padding: 10px 20px;
      width: 180px;
      height: 60px;
      font-size: medium;
    }

    h3 {
      color: $light-grey-font;
    }


  }
  
}

/*=====================*/
/*   QUESTION SCREEN   */
/*=====================*/

.question-screen {
  color: $white-font;
  background-color: $dark-grey-background;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;


  .question-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 30px;
    
      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 100;
      }
  }

  .question {
    text-align: center;
    padding: 30px;
    font-size: 40px;
  }

  .btn-container {    
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  button {
    cursor: pointer;
    color: $white-font;
    background-color: transparent;
    border: 1px solid $white-font;
    padding: 20px;
    width: 220px;

    transition: 
      background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;


    &:hover {
      background-color: $light-grey-background;
      color: $dark-grey-font;
      border: 1px solid transparent;
    }
  }

}

/*=====================*/
/*   LOADING SCREEN    */
/*=====================*/

.loading-screen {
  background-color: $dark-grey-background;
  color: $light-grey-font;

  min-height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=====================*/
/*   RESULTS SCREEN    */
/*=====================*/

.results-screen {
  background-color: white;
  color: $dark-grey-font;

  display: flex;
  flex-direction: column;
  align-items: center;

  .btn-restart {
    cursor: pointer;
    color: $light-grey-font;
    background-color: transparent;
    border: none;
  }

  #similar-profiles-txt {
    color: $dark-grey-font;
    font-size: 26px;
    text-align: center;
    margin: 20px;
  }
}


/*=====================*/
/*    RESULTS CARD     */
/*=====================*/

.results-card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;


  img {
    max-width: 400px;
    margin: 20px;
  }


  .result-info {
    background-color: $light-grey-background;
    color: $light-grey-font;
    padding: 40px;
  }

  .shoe-name {
    color: $dark-grey-font;
    font-size: 36px;
    margin: 0;
  }

  .result-price-shade-container {
    display: flex;
    justify-content: flex-start;
    color: $medium-grey-font;
  }

  .result-price {
    border-right: solid $light-grey-font;
    padding-right: 30px;
  }

  .result-shade-name {
    padding-left: 30px;
  }  

  .swatches {
    display: flex;
    gap: 20px;
  }

  .swatch-set {
    cursor: pointer;
    margin: 10px 0px;

    
    &:hover {
      border: 2px solid $dark-grey-background;
      margin: 8px 0px;
      padding: 2px ;
    }
  }

  .primary-swatch {
    width: 14px;
    height: 18px;
  }

  .secondary-swatch {
    width: 14px;
    height: 8px;
  }

  .btn-shop-now {
    color: $white-font;
    cursor: pointer;
    background-color: $btn-blue;
    border: none;
    border-bottom: 4px solid black;

    margin-top: 20px;
    padding: 20px;
    width: 200px;

    text-align: center;
    text-decoration: none;
  }


}

/*=====================*/
/*   HEADER COMPONENT  */
/*=====================*/

header {
  background-color: white;
  border-bottom: solid $header-border;
  max-height: 60px;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  .menu-container {
      position: relative;
  }

  .menu-panel {
      position: absolute;
      left: 0;

      width: 200px;
      padding: 1rem;

      background-color: $light-grey-background;
      opacity: 80%;

      display: flex;
      flex-direction: column;
      gap: 6px;

      z-index: 100;
  }

  .menu-panel button,
  .menu-panel a {
      color: $dark-grey-font;
      background: none;
      border: none;
      text-align: left;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      padding: 10px 0;
  }

  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    justify-content: center;
  }


  img {
    max-width: 40px;
    margin: 6px;
  }
}



